
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Coronation :: Home</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta email="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta email="description" content="">
<meta email="author" content="">

<link rel="icon" href="https://www.coronationmb.com/favicon.ico" type="image/x-icon">
<!-- VENDOR CSS -->
<link href="../../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{css/bootstrap.min.css}">
<link href="../../static/css/font-awesome.min.css" rel="stylesheet" th:href="@{css/font-awesome.min.css}">

<link href="../../static/css/chartist.min.css" rel="stylesheet" th:href="@{css/chartist.min.css}">
<link href="../../static/css/chartist-plugin-tooltip.css" rel="stylesheet" th:href="@{css/chartist-plugin-tooltip.css}">


<!-- MAIN CSS -->
<link href="../../static/css/main.css" rel="stylesheet" th:href="@{css/main.css}">
<link href="../../static/css/color_skins.css" rel="stylesheet" th:href="@{css/color_skins.css}">
  <style type="text/css">
        @font-face {
        font-family: FedraSansStdLight;
        src: url(font/FedraSansStd-LightLF.otf);
    }
    
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p
{
        
        font-family: inherit;
        font-weight: 400;
        line-height: 1.71429;
        
    }

    body {
        background: #fff;
        font-size: 13px;
        font-family: 'FedraSansStdLight';
        font-weight: normal;
        color: #003057;
        height: 100%;
        
    }
    </style>
</head>
<body class="theme-orange">

<!-- Page Loader -->
<!-- <div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img src="images/logo-icon.svg" width="48" height="48" alt="Lucid"></div>
        <p>Please wait...</p>        
    </div>
</div> -->
<!-- Overlay For Sidebars -->

<div id="wrapper">


    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-btn">
                <button type="button" class="btn-toggle-offcanvas"><i class="lnr lnr-menu fa fa-bars"></i></button>
            </div>

            <div class="navbar-brand">
                <!-- <a href="index.html"><img src="images/logo.png" alt="Lucid Logo" class="img-responsive logo"></a>  -->               
            </div>
            
            <div class="navbar-right">
                
                <div id="navbar-menu">
                    <ul class="nav navbar-nav dropdown">                        

<!--                        <a th:href="@{/}"><img th:src="@{images/logo.png}" style="width: 150px;" alt="Lucid Logo" class="img-responsive logo"></a>                         -->
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div id="left-sidebar" class="sidebar">
        <div class="sidebar-scroll">
            <div class="user-account">
                <div class="dropdown">
                    <span>Welcome,</span>
                    <a th:href="@{javascript:void(0);}" class="dropdown-toggle user-email" data-toggle="dropdown"><strong>userProfile.firstName</strong></a>
                    <ul class="dropdown-menu dropdown-menu-right account animated flipInY">           
                        <li><a th:href="@{/}"><i class="icon-power"></i>Logout</a></li>
                    </ul>
                </div>
                <hr>
            </div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#hr_menu">Home</a>
                </li> 
            </ul>
                
            <!-- Tab panes -->
            <div class="tab-content p-l-0 p-r-0">
                <div class="tab-pane animated fadeIn active" id="hr_menu">
                    <nav class="sidebar-nav">
                        <ul class="main-menu metismenu">
                            <li class="active"><a href="index.html"><i class="icon-speedometer"></i><span>Home</span></a></li>
                            <li><a href="register.html"><i class="icon-list"></i>User Type</a></li>
                            <li><a href="table.html"><i class="icon-calendar"></i>Organization</a></li>
                            <li><a href="login.html"><i class="icon-badge"></i>Product</a></li>
                            <li><a href="form.html"><i class="icon-globe"></i>Merchant</a></li>
                            <li><a href="blank.html"><i class="icon-globe">Customer</i></a></li>
                        </ul>
                    </nav>
                </div>        
            </div>          
        </div>
    </div>

    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a th:href="@{javascript:void(0);}" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Dashboard</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>                            
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ul>
                    </div>            
                    <div class="col-lg-6 col-md-4 col-sm-12 text-right">
                        <div class="bh_chart hidden-xs">
                            <div class="float-left m-r-15">
                                <small>Visitors</small>
                                <h6 class="mb-0 mt-1"><i class="icon-user"></i> 1,784</h6>
                            </div>
                            <span class="bh_visitors float-right">2,5,1,8,3,6,7,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Visits</small>
                                <h6 class="mb-0 mt-1"><i class="icon-globe"></i> 325</h6>
                            </div>
                            <span class="bh_visits float-right">10,8,9,3,5,8,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Chats</small>
                                <h6 class="mb-0 mt-1"><i class="icon-bubbles"></i> 13</h6>
                            </div>
                            <span class="bh_chats float-right">1,8,5,6,2,4,3,2</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-3 col-md-6">
                    <div class="card top_counter">
                        <div class="body">
                            <div class="icon"><i class="fa fa-user"></i> </div>
                            <div class="content">
                                <div class="text">New Employee</div>
                                <h5 class="number">22</h5>
                            </div>
                            <hr>
                            <div class="icon"><i class="fa fa-organizationUsers"></i> </div>
                            <div class="content">
                                <div class="text">Total Employee</div>
                                <h5 class="number">425</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card top_counter">
                        <div class="body">
                            <div class="icon"><i class="fa fa-university"></i> </div>
                            <div class="content">
                                <div class="text">Total Salary</div>
                                <h5 class="number">$2.8M</h5>
                            </div>
                            <hr>
                            <div class="icon"><i class="fa fa-university"></i> </div>
                            <div class="content">
                                <div class="text">Avg. Salary</div>
                                <h5 class="number">$1,250</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card text-center">
                        <div class="body">
                            <h5>Income Analysis</h5>
                            <span>8% High then last month</span>
                            <div class="sparkline-pie m-t-20">6,4,8</div>
                            <div class="stats-report m-b-30">
                                <div class="stat-item">
                                <h5>Design</h5>
                                <b class="col-black">84.60%</b></div>
                                <div class="stat-item">
                                <h5>Dev</h5>
                                <b class="col-black">15.40%</b></div>
                                <div class="stat-item">
                                <h5>SEO</h5>
                                <b class="col-black">5.10%</b></div>
                            </div>
                            <span id="sparkline-compositeline">8,4,0,0,0,0,1,4,4,10,10,10,10,0,0,0,4,6,5,9,10</span>
                        </div>
                    </div>                    
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="header">
                            <h2>Salary Statistics</h2>
                            <ul class="header-dropdown">
                                <li><a class="tab_btn" th:href="@{javascript:void(0);}" data-toggle="tooltip" data-placement="top" title="Weekly">W</a></li>
                                <li><a class="tab_btn" th:href="@{javascript:void(0);}" data-toggle="tooltip" data-placement="top" title="Monthly">M</a></li>
                                <li><a class="tab_btn active" th:href="@{javascript:void(0);}" data-toggle="tooltip" data-placement="top" title="Yearly">Y</a></li>
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                    <ul class="dropdown-menu dropdown-menu-right animated bounceIn">
                                        <li><a th:href="@{javascript:void(0);}">Action</a></li>
                                        <li><a th:href="@{javascript:void(0);}">Another Action</a></li>
                                        <li><a th:href="@{javascript:void(0);}">Something else</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div id="Salary_Statistics" class="chartist"></div>
                        </div>
                    </div>
                </div>                
            </div>            
        </div>
    </div>
    
</div>

<!-- Javascript -->
<script th:src="@{js/libscripts.bundle.js}"></script>
<script th:src="@{js/vendorscripts.bundle.js}"></script>

<script th:src="@{js/chartist.bundle.js}"></script>
<script th:src="@{js/knob.bundle.js}"></script> <!-- Jquery Knob-->

<script th:src="@{js/mainscripts.bundle.js}"></script>
<script th:src="@{js/index.js}"></script>
</body>
</html>
