<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Collections</title>

    <th:block th:include="fragments/headerinc :: head"></th:block> 
</head>
<body>
<div class="container">
   <th:block th:include="fragments/header :: header"></th:block>
    <div th:if="${not #lists.isEmpty(userTypes)}">
        <h2>User Type List</h2>
        <table class="table table-striped">
            <tr>
                <th>User Type Id</th>
                <th>User Type</th>
                <th>Created By</th>
                <th>Created Date</th>
                <th>View</th>
                <th>Edit</th>
            </tr>
            <tr th:each="type : ${userTypes}">
                <td th:text="${type.userTypeId}"><a href="/usertype/${type.userTypeId}">Id</a></td>
                <td th:text="${type.type}">Type</td>
                <td th:text="${type.createdBy}">Created By</td>
                <td th:text="${type.createdDate}">Date Created</td>
                <td><a th:href="${ '/usertype/' + type.userTypeId}">View</a></td>
                <td><a th:href="${'/usertype/edit/' + type.userTypeId}">Edit</a></td> 
            </tr>
        </table>

    </div>
</div>

</body>
</html>