<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Collections</title>

    <th:block th:include="fragments/headerinc :: head"></th:block> 
</head>
<body>
<div class="container">
   <th:block th:include="fragments/header :: header"></th:block>
    <div th:if="${not #lists.isEmpty(merchants)}">
        <h2>Product List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Merchant Code</th>
                <th>Merchant Name</th>
                <th>Created By</th>
                <th>View</th>
                <th>Edit</th>
            </tr>
            <tr th:each="merchant : ${merchants}">
                <td th:text="${merchant.merchantId}"><a href="/merchant/${merchant.merchantId}">Id</a></td>
                <td th:text="${merchant.merchantCode}">Merchant Code</td>
                <td th:text="${merchant.merchantName}">Merchant Name</td>
                <td th:text="${merchant.createdBy}">Created By</td>
                <td><a th:href="${'/merchant/' + merchant.merchantId}">View</a></td>
                <td><a th:href="${'/merchant/edit/' + merchant.merchantId}">Edit</a></td> 
            </tr>
        </table>

    </div>
</div>

</body>
</html>